@model HomeServices.Models.Orders

@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-action="Index"  class="btn btn-outline-secondary mb-3">
        <i class="bi bi-arrow-left"></i> Back to List
    </a>
</div>
<h1 class="mb-4">Order Details</h1>

<div class="card shadow-sm mb-4">
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Address)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Address)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.MapUrl)</dt>
            <dd class="col-sm-9">
                @if (!string.IsNullOrEmpty(Model.MapUrl))
                {
                    <a href="@Model.MapUrl" target="_blank">@Model.MapUrl</a>
                }
                else
                {
                    <span class="text-muted">No URL</span>
                }
            </dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.OrdersDate)</dt>
            <dd class="col-sm-9">@Model.OrdersDate.ToString("dd MMMM yyyy")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.OrdersTime)</dt>
            <dd class="col-sm-9">@Model.OrdersTime.ToString(@"hh\:mm")</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Description)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Description)</dd>

            <dt class="col-sm-3">Provider</dt>
            <dd class="col-sm-9">@Model.Providers?.User?.FirstName @Model.Providers?.User?.LastName</dd>

            <dt class="col-sm-3">Client</dt>
            <dd class="col-sm-9">@Model.Persons?.User?.FirstName @Model.Persons?.User?.LastName</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.CreatedAt)</dt>
            <dd class="col-sm-9">@Model.CreatedAt</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UpdatedAt)</dt>
            <dd class="col-sm-9">@Model.UpdatedAt</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.DeletedAt)</dt>
            <dd class="col-sm-9">@Model.DeletedAt</dd>
        </dl>
    </div>
</div>

