@model IEnumerable<HomeServices.Models.Providers>

@{
    ViewData["Title"] = "Index";
}

<h1>Providers</h1>
@* 
<p>
    <a asp-action="Create">Create New</a>
</p>
 *@

<br />
<input id="myInput" type="text" placeholder="Search..">
<br />
<br />

<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProviderStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Services)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedAt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedAt)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Country)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.PhoneNumber)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProviderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Services.ServiceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedAt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedAt)
            </td>
          
                <td>
                    @*  <a asp-action="Edit" asp-route-id="@item.ProvidersId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProvidersId">Details</a>  *@
                    <a asp-action="Delete" asp-route-id="@item.ProvidersId">Delete</a>
                </td>
            
        </tr>
}
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
    $(document).ready(function(){

      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });

    });

</script>